@import url('https://fonts.googleapis.com/css?family=Jua&display=swap&subset=korean');

::-webkit-scrollbar {
  width: 0.7em;
}
::-webkit-scrollbar-thumb {
  background: #d6d6d696;
}

html{
  overflow-x: hidden;
  font-family: 'Jua', serif;
}

#sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: rgba(1, 1, 1, 0.9); /* Black*/
  color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

#sidebar .closeBtn {
  position: absolute;
  top: 20px;
  font-size: 30px;
  margin-left: -5px;
}

a {
  padding-left: 30px;
  padding-bottom: 30px;
  color: rgb(179, 179, 179);
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.4s;
}

a:hover{  color: white; }

.container {
  position: relative;
}
.text {
  color: white;
  font-weight: bold;
  text-shadow: 3px 3px 3px rgb(48, 48, 48);
  margin-top: 120px;
  font-size: 100px; 
  font-weight: bold;
  text-align: left;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}

.textmin{
  background-color: rgba(0, 21, 117, 0.7);
  border-radius: 10px;
  padding: 20px;
  width: 550px;
  color : white;
  font-size: 20px;
  margin-top: 18%;
  margin-bottom: 40px;
  margin-left: 30%;
  line-height: 30px;
  display: inline-block;
}

.logo {
  margin: 30px;
  padding: 50px;
  box-sizing:border-box;
  width:120px; 
  height:120px;
  border:1px;
  background-image: url("../image/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: text-bottom
}

#menu {
  top: 60px;
  right: 20px;
  width:30px;
  height:30px;
  position: fixed;
}

#menu:hover {
  cursor: pointer;
}

.content {
  margin-top: 20%;
  width: 1200px;
  height: 6300px;
  border:1px;
  background:linear-gradient(to bottom, rgb(255, 255, 255, 0) 0.1%, rgb(255, 255, 255, 0.5) 15%, white 100%);
  position: center fixed;
  position: relative;
}

hr{
  width:950px; 
  border:solid 2px #d6d6d6c0;
  border-radius: 1em;
}

.title {
  font-size: 50px;
  color: rgba(0, 21, 117, 0.7);
  font-weight: bold;
  width: 490px;
  padding: 15px;
  margin : 0;
  position: absolute ;
  border: 10px double #6b6b6b70;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.527);
}

.story{
  position: absolute center;
  font-size: 25px;
  color: black;
  width: 400px;
  height: 150px;
  padding: 15px;
  margin: 10px;
}

.point{
  width:160px;
  height:160px;
  position: absolute;
  font-size: 20px;
  color: black;
  padding: 17px;
  position: absolute ;
  border: 10px double #6b6b6b70;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.527);
} 

#img {
  /* The image used */
  background-image: url("../image/solarEnergy_bg.png");
  top: 100px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}